#= /etc/caddy/Caddyfile

# - - - - - - = = = - - - - - - . 
# https://caddyserver.com/docs/caddyfile-tutorial

#: # 1
#: localhost:80
#: respond "Hello, world!"
#: # > curl localhost
#: # Hello, world!

#: # 2
#: #localhost     # <== will default to :443 https
#: #localhost:80  # <== will only allow requests FROM localhost, so: > curl localhost
#: :80            # <== will allow requests FROM any host
#: file_server browse

#: # 3
#: localhost 
#: encode
#: file_server browse
#: # is equivalant to:
#: localhost {
#:   encode
#:   file_server browse
#: }
#: # can also combine multiple sites with same config:
#: :8080, :8081 { 
#:   ...
#: }

# see for all directives: https://caddyserver.com/docs/caddyfile/directives

:80 {
  reverse_proxy /api/* 127.0.0.1:1080
  file_server {
    root /home/dcs/prod/dcs-mcs-client/www/
  }
}

# - - - - - - = = = - - - - - - . 
# below the commented-out default file:
# - - - - - - = = = - - - - - - . 
#: # The Caddyfile is an easy way to configure your Caddy web server.
#: #
#: # Unless the file starts with a global options block, the first
#: # uncommented line is always the address of your site.
#: #
#: # To use your own domain name (with automatic HTTPS), first make
#: # sure your domain's A/AAAA DNS records are properly pointed to
#: # this machine's public IP, then replace ":80" below with your
#: # domain name.
#: 
#: :80 {
#: 	# Set this path to your site's directory.
#: 	root * /usr/share/caddy
#: 
#: 	# Enable the static file server.
#: 	file_server
#: 
#: 	# Another common task is to set up a reverse proxy:
#: 	# reverse_proxy localhost:8080
#: 
#: 	# Or serve a PHP site through php-fpm:
#: 	# php_fastcgi localhost:9000
#: }
#: 
#: # Refer to the Caddy docs for more information:
#: # https://caddyserver.com/docs/caddyfile
# - - - - - - = = = - - - - - - . 

#-eof

